/*big tablets to 1200px (width smaller than the 1140px row)*/
@media only screen and (max-width:1200px){
    .header__icon {
        cursor: pointer;
        margin-top: 16px;
        display: block;
        width: 2em;
        margin-left: 32em;
    }
    .header {
        display: flex;
        justify-content: space-between;
        height: 7em;
    }
    .menu {
        width: 2em;
        transform: rotate(180deg);
        transition: all 0.2s ease-in;
       
    }
    .header-left {
        position: fixed;
        height: 20%;
        width: 20%;
        background-color: white;
        display: block;
    }
    img.close {
        width: 2em;
      
        margin-top: 1.2em;
    }
    .header__list {
        flex-direction: column;
        margin-top: 3.5em;
        position: fixed;
        width: 68%;
        height: 14em;
        background: white;
        color: hsl(228, 39%, 23%);
        display: none;
        text-align: center;
        transition: all.5s;
        line-height: 1.5em;
        font-size: 2em;
        margin-left: 5em;
    }
    .heels {
        margin-left: 1em;
    }
    .affordable {
        display: flex;
        justify-content: center;
        background-color: #fff;
        margin-left: 17em;
    }
    .about {
        background-color: #fbe3f1;
        height: 76vh;
        width: 84em;
    }
    .about__shoe {
        position: relative;
        top: -40em;
        width: 28em;
        left: 5em;
    }
    .about__shoes {
        position: relative;
        top: -46em;
        width: 37em;
        left: 6em;
    }
    .about__box {
        background-color: #fff;
        width: 60em;
        height: 40em;
        border-radius: 25px;
        position: relative;
        top: 40em;
    }
    .best {
        margin-top: 34em;
    }
    .about__body {
        font-size: 2em;
        margin-top: 3em;
        color: #7d778c;
        margin-left: 0;
    }
    .about__paragraph {
        font-size: 4em;
        margin-left: 1.3em;
        color: #d53199;
        text-decoration-line: underline;
        white-space: nowrap;
        margin-top: -2em;
        font-weight: 900;
    }
    .about__head {
        margin-top: 2em;
        font-size: 2.3em;
        margin-left: 1em;
        white-space: nowrap;
        line-height: 1.8em;
        color: #7d778c;
        text-decoration: line-through;
    }
    .affordable__paragraph {
        text-align: center;
        font-size: 1em;
        color: #7d778c;
        line-height: 2em;
    }
    .btn {
        font-size: 1.5em;
        margin-left: 5em;
        border: none;
    }
    img.rect {
        width: 60em;
        height: 50em;
    }
    #myBtn {
        background-color: #d53199;
        color: #fff;
        width: 15rem;
        font-size: 1.7em;
        border-radius: 25px;
        border: none;
        display: block;
        text-align: center;
        white-space: nowrap;
        height: 4em;
        position: relative;
        top: 6em;
        left: 20em;
    }
    .best__image {
        max-width: 1200px;
        margin: 6em 5em;
        padding: 0 6em;
        grid-row-gap: 1300px;
        grid-column-gap: 50px;
        -moz-column-gap: 40px;
        column-gap: 225px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(267px, 1fr));
        grid-auto-rows: 38px;
        margin-top: 7em;
    }
    .best__images {
        box-shadow: 0px 4px 50px #dbd2cf;
        height: 61em;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 60em;
        border-top-left-radius: 25px;
    }
    .pictures {
        position: relative;
        top: 13em;
    }
    .best__picture--text {
        padding-left: 1em;
        font-size: 2em;
    }
    .best__star {
        padding-left: 1em;
        font-size: 2em;
    }
    .word {
        font-size: 3em;
        color: #7d778c;
        margin-left: 3em;
        text-decoration-line: underline;
        font-weight: bold;
        animation: mymove 5s infinite;
        
    }
    @keyframes mymove{
      50% {opacity: 0;}
    } 
    .arrival {
        flex-direction: column;
        text-align: center;
        margin-top: 60em;
    }
    .money {
        float: right;
        font-size: 1.7em;
        margin-top: -1em;
        margin-right: 2em;
    }
    .arrival__head {
        font-size: 5em;
        margin-bottom: 1em;
    }
    .arrival__paragraph {
        line-height: 2em;
        font-size: 3em;
    }
    .arrival__picture {
        display: flex;
        margin-top: 8em;
    }
    .btn__btn {
        display: none;
    }
    .lady {
        width: 41em;
        position: relative;
        left: 7em;
        z-index: -1;
        transform: skewY(-7deg);
    }
    .ladies {
        width: 60em;
        height: 40em;
        margin-top: 3.7em;
        transition: transform .2s;
        transform: skewY(-7deg);
        margin-left: -13em;
    }
    footer {
        flex-direction: column;
        text-align: center;
        width: 35em;
        font-size: 2em;
        margin-top: 40em;
    }
    .footer__list {
        display: flex;
        flex-direction: column;
    }
   
        
    

   
   
}

/*small tablets to big tablets: from 768px to 1023px*/
@media only screen and (max-width:1023px){
    .header__icon {
        cursor: pointer;
        margin-top: 16px;
        display: block;
        width: 2em;
        margin-left: 26em;
    }
    .header {
        display: flex;
        justify-content: space-between;
        height: 7em;
    }
    .menu {
        width: 2em;
        transform: rotate(180deg);
        transition: all 0.2s ease-in;
       
    }
    .header-left {
        position: fixed;
        height: 20%;
        width: 20%;
        background-color: white;
        display: block;
    }
    img.close {
        width: 2em;
      
        margin-top: 1em;
    }
    .header__list {
        flex-direction: column;
        margin-top: 3.5em;
        position: fixed;
        width: 68%;
        height: 14em;
        background: white;
        color: hsl(228, 39%, 23%);
        display: none;
        text-align: center;
        transition: all.5s;
        line-height: 1.5em;
        font-size: 2em;
        margin-left: 5em;
    }
    .heels {
        margin-left: 1em;
    }
    .affordable {
        display: flex;
        justify-content: center;
        background-color: #fff;
        margin-left: 17em;
    }
    .pictures {
        position: relative;
        top: 13em;
        height: 56em;
    }
    .about {
        background-color: #fbe3f1;
        height: 76vh;
        width: 70em;
    }
    .about__shoe {
        position: relative;
        top: -40em;
        width: 28em;
        left: 5em;
    }
    .about__shoes {
        position: relative;
        top: -46em;
        width: 37em;
        left: 2em;
    }
    .about__box {
        background-color: #fff;
        width: 60em;
        height: 40em;
        border-radius: 25px;
        position: relative;
        top: 40em;
    }
    .best {
        margin-top: 16em;
    }
    .about__body {
        font-size: 2em;
        margin-top: 3em;
        color: #7d778c;
        margin-left: 0;
    }
    .about__paragraph {
        font-size: 4em;
        margin-left: 1.3em;
        color: #d53199;
        text-decoration-line: underline;
        white-space: nowrap;
        margin-top: -2em;
        font-weight: 900;
    }
    .about__head {
        margin-top: 2em;
        font-size: 2.3em;
        margin-left: 1em;
        white-space: nowrap;
        line-height: 1.8em;
        color: #7d778c;
        text-decoration: line-through;
    }
    .affordable__paragraph {
        text-align: center;
        font-size: 1.5em;
        color: #7d778c;
        line-height: 2em;
    }
    .btn {
        font-size: 1.5em;
        margin-left: 5em;
        border: none;
    }
    #myBtn {
        background-color: #d53199;
        color: #fff;
        width: 15rem;
        font-size: 1.7em;
        border-radius: 25px;
        border: none;
        display: block;
        text-align: center;
        white-space: nowrap;
        height: 4em;
        position: relative;
        left: 15em;
        top: 4em;
    }
    .best__image {
        max-width: 1200px;
        margin: 6em 1em;
        padding: 0 6em;
        grid-row-gap: 1300px;
        grid-column-gap: 50px;
        -moz-column-gap: 40px;
        column-gap: 225px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(267px, 1fr));
        grid-auto-rows: 38px;
        margin-top: 7em;
    }
    img.rect {
        width: 53em;
        height: 55em;
    }
    .best__images {
        box-shadow: 0px 4px 50px #dbd2cf;
        height: 66em;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 53em;
        border-top-left-radius: 25px;
    }
  
    .best__picture--text {
        padding-left: 1em;
        font-size: 2em;
    }
    .best__star {
        padding-left: 1em;
        font-size: 2em;
    }

    .word {
        font-size: 3em;
        color: #7d778c;
        margin-left: 3em;
        text-decoration-line: underline;
        font-weight: bold;
        animation: mymove 5s infinite;
        
    }
    @keyframes mymove{
      50% {opacity: 0;}
    } 
    .arrival {
        flex-direction: column;
        text-align: center;
        margin-top: 57em;
    }
    .money {
        float: right;
        font-size: 1.7em;
        margin-top: -1em;
        margin-right: 2em;
    }
    .arrival__head {
        font-size: 5em;
        margin-bottom: 1em;
    }
    .arrival__message {
        margin-right: -7em;
    }
    .arrival__paragraph {
        line-height: 2em;
        font-size: 3em;
    }
    .btn__btn {
        display: none;
    }
    .lady {
        width: 41em;
        position: relative;
        left: 7em;
        z-index: -1;
        transform: skewY(-7deg);
    }
    .ladies {
        width: 60em;
        height: 39em;
        margin-top: 3.7em;
        transition: transform .2s;
        transform: skewY(-7deg);
        margin-left: -15em;
    }
    .arrival__picture {
        display: flex;
        margin-top: 8em;
    }
    footer {
        flex-direction: column;
        text-align: center;
        width: 35em;
        font-size: 2em;
        margin-top: 35em;
    }
    .footer__list {
        display: flex;
        flex-direction: column;
    }
   
   
}

/*small phone to small tablets: from 481px to 767px*/
@media only screen and (max-width:767px){
    .header__icon {
        cursor: pointer;
        margin-top: -17px;
        display: block;
        width: 2em;
        margin-left: 10em;
    }
    .header {
        display: flex;
        justify-content: space-between;
        height: 7em;
    }
    .menu {
        width: 2em;
        transform: rotate(180deg);
        transition: all 0.2s ease-in;
        margin-left: -3em;
        margin-top: 1em;
    }
    .header-left {
        position: fixed;
        height: 20%;
        width: 20%;
        background-color: white;
        display: block;
    }
    img.close {
        width: 1em;
        margin-left: -2em;
    
        margin-top: 1em;
    }
    .header__list {
        flex-direction: column;
        margin-top: 3.5em;
        position: fixed;
        width: 68%;
        height: 14em;
        background: white;
        color: hsl(228, 39%, 23%);
        display: none;
        text-align: center;
        transition: all.5s;
        line-height: 1.5em;
        font-size: 2em;
        margin-left: 3em;
    }
    .heels {
        margin-left: 1em;
    }
    #more{
        display: none;
    }
    img.rect {
        width: 28em;
    }
    .word {
        font-size: 3em;
        color: #7d778c;
        margin-left: 3em;
        text-decoration-line: underline;
        font-weight: bold;
        animation: mymove 5s infinite;
        
    }
    @keyframes mymove{
      50% {opacity: 0;}
    } 
    .lady {
        width: 41em;
        position: relative;
        left: 7em;
        z-index: -1;
        transform: skewY(-7deg);
    }
    .ladies {
        width: 40em;
        height: 29em;
        margin-top: 3.7em;
        transition: transform .2s;
        transform: skewY(-7deg);
        margin-left: -13em;
    }
}
/*small phone: from 0 to 480px*/
@media only screen and (max-width:480px){
    .header__icon {
        cursor: pointer;
        margin-top: -17px;
        display: block;
        width: 2em;
        margin-left: 10em;
    }
    .header {
        display: flex;
        justify-content: space-between;
        height: 7em;
    }
    .menu {
        width: 2em;
        transform: rotate(180deg);
        transition: all 0.2s ease-in;
        margin-top: 1em;
    }
    .header-left {
        position: fixed;
        height: 20%;
        width: 20%;
        background-color: white;
        display: block;
    }
    img.close {
        width: 1em;
        margin-left: -2em;
    
        margin-top: 1em;
    }
    .header__list {
        flex-direction: column;
        margin-top: 3.5em;
        position: fixed;
        width: 68%;
        height: 14em;
        background: white;
        color: hsl(228, 39%, 23%);
        display: none;
        text-align: center;
        transition: all.5s;
        line-height: 1.5em;
        font-size: 2em;
        margin-left: 3em;
    }
    .heels {
        margin-left: 1em;
    }
    #more{
        display: none;
    }
    img.rect {
        width: 28em;
    }
    .word {
        font-size: 3em;
        color: #7d778c;
        margin-left: 3em;
        text-decoration-line: underline;
        font-weight: bold;
        animation: mymove 5s infinite;
        
    }
    @keyframes mymove{
      50% {opacity: 0;}
    } 
}